<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About you</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <th>Name</th>
        <th>phone</th>
        <th>City</th>
        <th>Street</th>
        <th>postal Code</th>
        <th>Email</th>
    </tr>
    <tr th:each="user: ${user}">
        <td th:text="${user.fullName}"></td>
        <td th:text="${user.phone}"></td>
        <td th:text="${user.city}"></td>
        <td th:text="${user.street}"></td>
        <td th:text="${user.postalCode}"></td>
        <td th:text="${user.email}"></td>

        <td>
            <form action="#" method="get" th:action="@{updateUser}">
                <input type="hidden" name="user_id" th:value="${user.id}">
                <input type="submit" value="Modify">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>