<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>redirect</title>
</head>
<body>

    <table>
        <tr>
            <td style="background-color: #fffaad"><a href="/">Homepage</a></td>
            <td style="background-color: #fffaad"><a href="/flights">Flights</a></td>
            <td style="background-color: #fffaad"><a href="/info">About you</a></td>
            <td style="background-color: #fffaad"><a href="/get/bookings">Your bookings</a></td>
            <td style="background-color: #fffaad"><a href="/registration">Register</a> </td>
            <td style="background-color: #fffaad"><a href="/login">Login</a> </td>
            <td style="background-color: #fffaad"><a href="/logout">Log out</a> </td>
        </tr>
    </table>
</body>
</html>
